@font-face {
    font-family: inter;
    src: url(./social-links-profile-main/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:hsl(0, 0%, 8%);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 14px;
}

.container {
    background-color: hsl(0, 0%, 12%);
    padding: 24px;
    max-width: 400px;
    border-radius: 15px;
}


.container img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: block;
    margin-inline: auto;
    margin-bottom: 1.25rem;
   
   
}

.container h1 {
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem 0 1rem;

} 

.container span{
    color: hsl(75, 94%, 57%);
    display: block;
    font-size: 1rem;
    
}

.container p {
    color:  white;
    text-align: center;
}

.container ul {
    list-style: none;
    display: grid;
    gap: 0.5rem;
    
}

.container ul li button {
    width: 250px;
    height: 80%;
    border-radius: 5px;
    padding: 0.8rem;
    background-color: hsl(0, 0%, 20%);
    border: none;
    outline: none;
    font-family: inter;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    color: hsl(0, 0%, 100%);
    margin-top: 5px;
    
}
.container ul li button:hover{
    background-color:  hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
.attribution {
     font-size: 11px; text-align: center;
     margin-top: 7px;
 }

.attribution a {
         color: hsl(228, 45%, 44%); 
     }